body {
background-color: DarkSlateGray;
}

h1 {
    color: red;
    text-align: center;
    font: Times New Roman;
    font-size: 48px;
}

p {
    background-color:DodgerBlue;
    text-align:justify;
    font-family:"Times New Roman";
    font-size: 32px;
}

a {
    color: black;
}

img {
    display: block;
    position: center;
}